<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="key" value="49a1e089f832d815c0e2e84b7ba53ea56bee31f8"/>
    <add key="projectUrl" value="http://icerow.com/projects"/>
    <add key="account" value="my/account"/>
    <add key="url" value="http://icerow.com/"/>
    <add key="issueUrl" value="http://icerow.com/projects/cs3m5cs3m/issues"/>
    
    <add key="projects" value="projects"/>
    <add key="xml" value="projects.xml"/>
    <add key="json" value="projects.json"/>
  </appSettings>
</configuration>